<!-- <nav class="navbar navbar-dark bg-dark">
  <span class="text-white bg-dark">
   Student Info Management System
  </span>
  <button type="button" class="btn btn-light" data-target="#myModal">Ask A Question</button>
  <div class="navbar-text" style="float: right;"></div>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add  New Student  </button>
</nav>
 -->
<!-- 
 <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		    <div class="container-fluid">
		        <ul class="nav navbar-nav navbar-left">
		        	<span class="active">
					   Student Info Management System
					</span>
		            <li class="active"><a href="/">Home</a></li>
		            <li><a href="#notices">Notices</a></li>
		            <li><a href="#issues">Issues</a></li>
		       		<li><a href="#employees">Employees</a></li>
		        </ul>
		        <ul class="nav navbar-nav navbar-right">
		        	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addstudentmodal">Add  New Student  </button>
 		
		        </ul>
		    </div>
		 </nav> -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <span style="color:white;font-size:30px;position: absolute;left: 500px;" >Student Info Management System</span>
    </div>
  
  </div>
</nav>